body {
  font-family: "Nunito", sans-serif;
  color: #3a3e42;
  background-color: #f1f1f1;
}
.container {
  font: 1.2em;
  background-color: #dbdada;
  padding: 30px;
  margin: 20px auto;
  width: 90%;
  max-width: 500px;
  border-radius: 20px;
}

input{
  border-color: #dfdddd;
  font: 16px cursive; 
  color: #3a3e42
}
.bioArea {
  width: 90%;
  border-radius: 15px;
  font: 16px cursive; 
}
h2 {
  text-align: center;
  font-size: 1.8rem;
}
label {
  font-size: 21px;
}
.btn {
  width: 97%;
  height: 9vh;
  font: 1.5em sans-serif;
  background-color: #5fcf80;
  border: none;
  border-radius: 13px;
  color: #292b2e;
}
.box {
  width: 97%;
  height: 7vh;
  border-radius: 10px;
}
legend {
  font-size: x-large;
}
fieldset{
  border: none;
}
select {
  font-size: 18px; 
  color: #000000;
  font-family: cursive;

}
